.rm-aliases {
  border-radius: 2px;
  padding: 6px;
  cursor: pointer;
  min-width: 400px;
  float: right;
  display: flex;
  flex-direction: column;
}

.rm-aliases .sub-title {
  font-size: 10px;
  margin-left: 15px;
}

.rm-autocomplete__results.bp3-elevation-3.alias-container .dont-unfocus-block {
  max-width: 400px;
}

.rm-autocomplete__results.bp3-elevation-3.alias-container {
  min-width: 800px;
}
