.rm-aliases {
  border-radius: 2px;
  cursor: pointer;
  min-width: 400px;
  float: right;
  max-height: 300px;
  overflow: auto;
  position: absolute;
  right: 0;
}

.rm-aliases .sub-title {
  font-size: 10px;
  margin-left: 10px;
}

.rm-autocomplete__results.bp3-elevation-3.alias-container {
  min-width: 800px;
}

.rm-autocomplete__results.bp3-elevation-3.alias-container .dont-unfocus-block {
  max-width: 400px;
}

.rm-aliases .result-highlight {
  /* color: hsl(51,98%,81%) */
  font-weight: bold;
}

.flex-reverse-row {
  display: flex;
  flex-direction: row-reverse;
}

.rm-unlink-aliases {
  padding-top: 12px;
}

.rm-unlink-aliases label.bp3-inline {
  font-weight: normal;
  margin-bottom: 0;
}

.rm-unlink-aliases .block-breadcrumbs {
  flex-wrap: wrap;
  display: flex;
  flex-direction: row;
  padding: 5px 5px 5px 10px;
}

.rm-unlink-aliases .block-breadcrumbs span.block-br-item {
  white-space: unset;
  align-items: center;
  display: inline-flex;
  cursor: pointer;
  font-size: 12px;
}

.rm-unlink-aliases .bb-page .roam-block {
  position: relative;
}

.rm-unlink-aliases .bb-page .rm-block-separator {
  min-width: 0px;
  max-width: 10px;
  flex: 0 0 0px;
}
.rm-mentions .rm-ref-page-view .rm-title-arrow-wrapper {
  position: relative;
}
.no-select {
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently */
}
.rm-unlink-aliases a.unlink-page {
  margin: 4px 8px;
  flex: 1 1 100%;
  word-break: break-word;
  padding-right: 8px;
}
.hover-opacity {
  opacity: 0;
  transition: 0.5s all;
}
.hover-opacity:hover {
  opacity: 1;
}

.pagination {
  margin: 16px 16px 5px 16px;
}

.rm-unlink-aliases .group {
  background-color: #EBF1F5;
  padding-top: 5px ;
  margin: 4px 8px;
}

.flex-row {
  display: flex;
  flex-direction: row;
}