.rm-aliases {
  border-radius: 2px;
  padding: 6px;
  cursor: pointer;
  min-width: 400px;
  float: right;
  max-height: 300px;
  overflow: auto;
  position: absolute;
  right: 0;
}

.rm-aliases .sub-title {
  font-size: 10px;
  margin-left: 15px;
}

.rm-autocomplete__results.bp3-elevation-3.alias-container .dont-unfocus-block {
}

.rm-autocomplete__results.bp3-elevation-3.alias-container {
  min-width: 800px;
}

.rm-autocomplete__results.bp3-elevation-3.alias-container .dont-unfocus-block {
  max-width: 400px;
}


.rm-aliases .result-highlight {
  /* color: hsl(51,98%,81%) */
  font-weight: bold;
}